$box-shadow-1: 0 5px 10px hsla(226.8, 20%, 30%, 0.5);
$box-shadow-2: 0 5px 13px 3px hsla(227, 35%, 35%, 0.6);
$text-shadow: 0 0 0.25em #0008;
$wavecom-blue: #2e54d9;
$wavecom-blue-light: #3399ff;
$wavecom-red: #ff5151;

$tnt-titan-blue: hsla(227, 69%, 52%, 1);
$tnt-titan-blue-light: hsla(227, 92%, 60%, 1);
$tnp-prime-red: hsla(356, 85%, 57%, 1);
$tnp-prime-red-light: hsla(356, 92%, 62%, 1);
$tnp-3pl-lite-green: hsla(79, 100%, 41%, 1);
$tnp-3pl-lite-green-light: hsla(79, 100%, 45%, 1);
$tnp-3pl-orange: hsla(23, 95%, 50%, 1);
$tnp-3pl-orange-light: hsla(23, 95%, 57%, 1);
$tnt-rcd-yellow: hsla(48, 100%, 50%, 1);
$tnt-rcd-yellow-light: hsla(48, 100%, 60%, 1);

// placeholders -- remove after addition to wavecom website

#root {
  width:100%;
  margin:auto;
}

#root {
  @media only screen and (min-width: 576px) {
    width: 540px;
  }
  @media only screen and (min-width: 768px) {
    width:720px;
  }
  @media only screen and (min-width: 992px) {
    width:960px;
  }
  @media only screen and (min-width: 1200px) {
    width:1140px;
  }
}

.button-link {
  width:100%;
  max-width: 400px;
  margin: auto;
  text-decoration: none;
  display: flex;
  border: 0.125rem solid #2e54d9;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  transition: 0.2s ease;
  background-color:white;
  color: #2e54d9;
  text-align:center;
  cursor:pointer;
  &:hover {
    background-color: #2e54d9;
    color: white;
    }
  .fa {
    margin:0 0.5em;
  }
}

*{
  box-sizing:border-box;
}

//end placeholders

.App {
  margin-top:0.5rem;
  width:100%;
  .builder-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0.25rem;
      .builder-stage-container {
        width: 100%;
        .builder-title {
          text-align:center;
          margin-bottom:1rem;
          h3 {
            font-size:1rem;
            margin:0 auto 0.25rem;
          }
          p {
            font-size:0.8rem;
            font-style:italic;
            color:var(--bs-gray-600);
            margin:0;
          }
        }
        .builder-stage {
          .builder-options-container {
            min-height: 400px;
            .builder-option {
              display:flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width:100%;
              box-shadow: $box-shadow-1;
              transition:0.2s ease;
              border:2px solid #fff0;
              &:hover {
                box-shadow: $box-shadow-2;
              }
              .builder-option-image {
                width:100px;
                img {
                  width:100px;
                  height:100px;
                }
              }
              .builder-option-description {
                width:calc(100% - 100px);
                padding: 0.5rem 0.5rem 0.5rem 0;
                > * {
                  margin:0;
                }
                .builder-option-title {
                  font-weight:bold;
                  font-size:1.2rem;
                }
                .builder-option-price {
                  font-weight: bold;
                  color:$wavecom-blue;
                }
                .builder-option-description {
                  padding-left: 1rem;
                  margin: 0;
                  font-size: 0.8rem;
                  width:100%;
                  li {

                  }
                }
              }
              &.selected {
                border:2px solid $wavecom-blue;
              }
            }
          }
          .builder-options-review {
            min-height:400px;
          }
          .builder-navigate {
            display:flex;
            width:100%;
            flex-direction:row;
            margin:2rem 0 1rem;
            > div {
              width: calc(100% / 3);
              text-align:center;
              .inactive {
                color:grey;
                border:1px solid grey;
                &:hover {
                  background:none;
                  cursor:not-allowed;
                }
              }
            }
          }
          .builder-progress {
            margin-top:1rem;
            .builder-progress-indicator {
              progress {
                width:100%;
                &[value] {

                }
                &:not([value]) {

                }
              }
            }
            .builder-progress-stages {
              display:flex;
              flex-direction:row;
              .builder-progress-stage {
                width:25%;
                margin:1%;
                filter:grayscale(100);
                opacity:0.75;
                border: 2px solid #fff0;
                &.active {
                  background: rgba($wavecom-blue-light, 0.2);
                  filter:grayscale(0);
                  opacity:1;
                }
                &.complete {
                  filter:grayscale(0);
                  opacity:1;
                }
                .builder-progress-container {
                  width:100%;

                  padding: 0.5rem 0.25rem;
                  transition:0.2s ease;
                  .builder-progress-image {
                    width:100%;
                    display: flex;
                    img {
                      margin:auto;
                      height:50px;
                      width:50px;
                    }
                  }
                  .builder-progress-label {
                    text-align:center;
                    span {
                      font-size:0.8rem;
                    }
                  }
                }
              }
            }
          }
        }
        .builder-text {
          width: 100%;
          text-align: center;
          margin: 0.5rem;
          span {
            color:var(--bs-green);
            font-weight:bold;
          }
        }
    }
  }

}
